:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.group {
  align-items: stretch;
  position: relative;
  padding: 24px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 50px;
  min-height: 50px;
}
.h6 {
  top: 119.29746457819357px;
  left: 32.64211200914882px;
  color: hsla(var(--igx-success-500));
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text {
  top: 174.66763305664062px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_1 {
  top: 245px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_2 {
  top: 315px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_3 {
  top: 385px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_4 {
  top: 455px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_5 {
  top: 525px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_6 {
  top: 595px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_7 {
  top: 665px;
  left: 74.3070242898506px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h4 {
  top: 19.621135069194604px;
  left: 24.05349576180443px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h5 {
  top: 57.609731560422674px;
  left: 25.278934358295658px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_1 {
  top: 112.75446840252792px;
  left: 73.07103962145354px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_8 {
  top: 149.37025787621218px;
  left: 35.25px;
  width: 497px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_9 {
  top: 378.1202578762122px;
  left: 35.75px;
  width: 680px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.text_10 {
  top: 450.6202578762122px;
  left: 35.75px;
  width: 680px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_2 {
  top: 341px;
  left: 73.07103962145354px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_3 {
  top: 413px;
  left: 73.07103962145354px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.image {
  top: 228.25px;
  left: 26.5px;
  width: 88px;
  height: 87px;
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  position: absolute;
}
.h6_4 {
  top: 23.500003814697266px;
  left: 61.515655517578125px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_5 {
  top: 94px;
  left: 61.515655517578125px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_6 {
  top: 164px;
  left: 61.515655517578125px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_7 {
  top: 234px;
  left: 61.515655517578125px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h6_8 {
  top: 304px;
  left: 61.515655517578125px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.group_1 {
  top: -5px;
  left: 90px;
  width: 1309px;
  height: 105px;
  border-color: hsla(var(--igx-primary-800));
  background-color: hsla(var(--igx-primary-400));
  border-style: solid;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
}
.h4_1 {
  top: 31.84042355721453px;
  left: 334.22719536496857px;
  color: hsla(var(--igx-success-500));
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.group_2 {
  top: 815px;
  height: 86px;
  background-color: hsla(var(--igx-primary-600));
  left: 84px;
  width: 251px;
  border-color: hsla(var(--igx-primary-700));
  border-style: solid;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
}
.text_11 {
  top: 48.81499944318804px;
  left: 194.400006745991px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.h5_1 {
  top: 26.757104706345938px;
  left: 100.04123481616637px;
  min-width: min-content;
  height: max-content;
  position: absolute;
}
.group_3 {
  left: 334px;
  width: 1067px;
  background-color: hsla(var(--igx-primary-500));
  top: 93px;
  height: 807px;
  border-color: hsla(var(--igx-primary-700));
  border-style: solid;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
}
.group_4 {
  left: 1196px;
  width: 201px;
  top: 93px;
  height: 807px;
  background-color: hsla(var(--igx-primary-400));
  border-color: hsla(var(--igx-primary-700));
  border-style: solid;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
}
.image_1 {
  left: -1px;
  width: 102px;
  height: 906px;
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  top: -2px;
  object-fit: cover;
  position: absolute;
}
.group_5 {
  height: 905px;
  top: -2px;
  left: 84px;
  width: 251px;
  background-color: hsla(var(--igx-primary-400));
  border-color: hsla(var(--igx-primary-700));
  border-style: solid;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
}
.button {
  top: 34.974420688026825px;
  left: 31.323684210526313px;
  width: 192px;
  color: hsla(var(--igx-secondary-100));
  background-color: hsla(var(--igx-primary-600));
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  top: 740.1790298060364px;
  left: 26px;
  width: 814px;
  background-color: hsla(var(--igx-primary-700));
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button_2 {
  top: 39.87617507399174px;
  left: 31.32368421052631px;
  width: 192px;
  color: hsla(var(--igx-secondary-100));
  background-color: hsla(var(--igx-primary-600));
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.icon {
  top: 29.389546364232107px;
  left: 266.82807255795126px;
  width: 48px;
  height: 48px;
  font-size: 48px;
  position: absolute;
}
.icon_1 {
  top: 46.54568671510932px;
  left: 1192.0342129088278px;
  width: 36px;
  height: 36px;
  font-size: 36px;
  position: absolute;
}
.avatar {
  top: 169.52805732593205px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_1 {
  top: 240px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_2 {
  top: 200px;
  left: 359.76403508771944px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_3 {
  top: 110.54298245614032px;
  left: 1208.9929824561405px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_4 {
  top: 181px;
  left: 1208.9929824561405px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_5 {
  top: 251px;
  left: 1208.9929824561405px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_6 {
  top: 321px;
  left: 1208.9929824561405px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_7 {
  top: 391px;
  left: 1208.9929824561405px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_8 {
  top: 430px;
  left: 359.76403508771944px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_9 {
  top: 500px;
  left: 359.76403508771944px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_10 {
  top: 310px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_11 {
  top: 380px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_12 {
  top: 450px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_13 {
  top: 520px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_14 {
  top: 590px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_15 {
  top: 660px;
  left: 108.54912280701751px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.avatar_16 {
  top: 824.578934518914px;
  left: 110.89472399259871px;
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
  position: absolute;
}
.icon_2 {
  left: 1144.2421076456703px;
  top: 46.5456867151093px;
  width: 36px;
  height: 36px;
  font-size: 36px;
  position: absolute;
}
.icon_3 {
  left: 1241.0517567684767px;
  top: 46.5456867151093px;
  width: 36px;
  height: 36px;
  font-size: 36px;
  position: absolute;
}
.row {
  display: flex;
}
