<div class="group row">
  <div class="group_5">
    <button igxButton="raised" igxRipple class="button">Start New Conversation</button>
    <h6 class="h6">Chat Messages</h6>
    <p class="igx-typography__body-1 text">Team P2P</p>
    <p class="igx-typography__body-1 text_1">Andrew</p>
    <p class="igx-typography__body-1 text_2">Hajira</p>
    <p class="igx-typography__body-1 text_3">Jon</p>
    <p class="igx-typography__body-1 text_4">Daniel Banh</p>
    <p class="igx-typography__body-1 text_5">Maribel</p>
    <p class="igx-typography__body-1 text_6">Mark Mishler</p>
    <p class="igx-typography__body-1 text_7">Team P2P</p>
  </div>
  <div class="group_3">
    <h4 class="h4">Today</h4>
    <h5 class="h5">Month Day</h5>
    <button igxButton="raised" igxRipple class="button_1">Send Message Here...</button>
    <h6 class="h6_1">Maribel</h6>
    <p class="igx-typography__subtitle-1 text_8">This is a sample conversation. 
Users can type and send images privately or through a group chat in our
extension. Below is a test of sending images.</p>
    <p class="igx-typography__subtitle-1 text_9">Groups can use this extension instead of GroupMe or other chat based apps to communicate</p>
    <p class="igx-typography__subtitle-1 text_10">Chats allows all users to asynchronously talk with one another to complete their goals in a timely manner</p>
    <h6 class="h6_2">Jon</h6>
    <h6 class="h6_3">Hajira</h6>
    <img src="/assets/1Canvas-Logo.png" class="image" />
  </div>
  <div class="group_4">
    <h6 class="h6_4">Andrew</h6>
    <h6 class="h6_5">Jon</h6>
    <h6 class="h6_6">Hajira</h6>
    <h6 class="h6_7">Maribel</h6>
    <h6 class="h6_8">Daniel</h6>
  </div>
  <div class="group_1">
    <button igxButton="raised" igxRipple class="button_2">Start New Conversation</button>
    <h4 class="h4_1">Chat  Name</h4>
    <igx-icon family="material" class="icon">group</igx-icon>
    <igx-icon family="material" class="icon_2">group_add</igx-icon>
    <igx-icon family="material" class="icon_3">help</igx-icon>
    <igx-icon family="material" class="icon_1">settings</igx-icon>
  </div>
  <div class="group_2">
    <p class="igx-typography__body-1 text_11">Online</p>
    <h5 class="h5_1">You</h5>
  </div>
  <img src="/assets/HelpBar2.png" class="image_1" />
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_4"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_5"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_6"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_7"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_8"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_9"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_10"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_11"></igx-avatar>
  <igx-avatar initials="DB" [roundShape]="true" size="small" class="avatar_12"></igx-avatar>
  <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_13"></igx-avatar>
  <igx-avatar initials="MM" [roundShape]="true" size="small" class="avatar_14"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_15"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="medium" class="avatar_16"></igx-avatar>
</div>
