<div class="group row">
  <div class="group_1"></div>
  <div class="group_2">
    <h2 class="h2">About Team P2P</h2>
    <igx-icon family="material" class="icon_1">arrow_back</igx-icon>
    <igx-icon family="material" class="icon_2">help</igx-icon>
    <igx-icon family="material" class="icon">settings</igx-icon>
  </div>
  <div class="group_3">
    <h3 class="h3">Who Are We?</h3>
    <h4 class="h4">The Team</h4>
    <h5 class="h5">Our team, Team P2P, is a detail-oriented development team working under Instructure, the Canvas LMS developers. Our objective was to create an extension to Canvas that allows users to fill the gap of an easier means of communication. 
Each of our team members played an integral role within the process of creating our extension.
</h5>
    <h5 class="h5_1">Group Leader/Project Manager
- Maribel Chen

Presentation/Document Manager
- Hajira Cheema

UI/UX Design | Prototype Development
- Daniel Banh

Business/Financial Analysis
- Jon Gelinas

Market Research
- Andrew Gyan
</h5>
    <igx-avatar initials="MC" [roundShape]="true" size="medium" class="avatar"></igx-avatar>
    <igx-avatar initials="HC" [roundShape]="true" size="medium" class="avatar_1"></igx-avatar>
    <igx-avatar initials="DB" [roundShape]="true" size="medium" class="avatar_2"></igx-avatar>
    <igx-avatar initials="JG" [roundShape]="true" size="medium" class="avatar_3"></igx-avatar>
    <igx-avatar initials="AG" [roundShape]="true" size="medium" class="avatar_4"></igx-avatar>
    <img src="/assets/8-2-team-transparent.png" class="image" />
    <img src="/assets/media-logo-inst-hzntl.jpg" class="image_1" />
    <img src="/assets/Chat-Transparent-Icon.png" class="image_2" />
    <h1 class="h1">C</h1>
  </div>
  <img src="/assets/HelpBar2.png" class="image_3" />
</div>
