<div class="group row">
  <div class="group_8">
    <h4 class="h4">Today</h4>
    <h5 class="h5">Month Day</h5>
    <button igxButton="raised" igxRipple class="button">Send Message Here...</button>
  </div>
  <div class="group_9"></div>
  <div class="group_1">
    <h4 class="h4_1">Chat  Name</h4>
    <igx-icon family="material" class="icon">group</igx-icon>
    <igx-icon family="material" class="icon_20">group_add</igx-icon>
    <igx-icon family="material" class="icon_21">help</igx-icon>
    <igx-icon family="material" class="icon_1">settings</igx-icon>
  </div>
  <div class="group_2">
    <p class="igx-typography__body-1 text">Online</p>
    <h5 class="h5_1">You</h5>
  </div>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_18 avatar_19"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_4"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_5"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_6"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_7"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_8"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_9"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_10"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_11"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_12"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="small" class="avatar_13"></igx-avatar>
  <igx-avatar icon="people" [roundShape]="true" size="medium" class="avatar_14"></igx-avatar>
  <div class="group_3">
    <h4 class="h4_2">Creating New Chat</h4>
    <h5 class="h5_6">Enter Chat Name Here...</h5>
    <h5 class="h5_2">All Members Can...</h5>
    <igx-icon family="material" class="icon_2">group_add</igx-icon>
    <h6 class="h6">Chat Description</h6>
    <h6 class="h6_1">Send Images</h6>
    <igx-icon family="material" class="icon_3">group_add</igx-icon>
    <h6 class="h6_2">Send Messages</h6>
    <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_15"></igx-avatar>
    <h6 class="h6_3">Add New Members</h6>
    <h6 class="h6_4">Kick Members</h6>
    <h5 class="h5_5">Members</h5>
    <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_16"></igx-avatar>
    <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar_18 avatar_20"></igx-avatar>
    <p class="igx-typography__body-1 text_1">Maribel</p>
    <div class="group_4">
      <h5 class="h5_3">Edit User</h5>
      <h6 class="h6_5">Maribel</h6>
    </div>
    <p class="igx-typography__body-1 text_2">Hajira</p>
    <p class="igx-typography__body-1 text_3">Andrew</p>
    <p class="igx-typography__body-1 text_4">Add New Members</p>
    <h6 class="h6_6">Ban Members</h6>
    <igx-icon family="material" class="icon_4">check_box_outline_blank</igx-icon>
    <igx-avatar icon="person" [roundShape]="true" size="medium" class="avatar_17"></igx-avatar>
    <h6 class="h6_7">Change Usernames</h6>
    <igx-icon family="material" class="icon_5">check_box</igx-icon>
    <h6 class="h6_8">Kick Members</h6>
    <h6 class="h6_9">See Messages</h6>
    <igx-icon family="material" class="icon_6">check_box</igx-icon>
    <h6 class="h6_10">Send Messages</h6>
    <igx-icon family="material" class="icon_7">check_box</igx-icon>
    <igx-icon family="material" class="icon_8">check_box</igx-icon>
    <h6 class="h6_11">Send Images</h6>
    <igx-icon family="material" class="icon_9">check_box_outline_blank</igx-icon>
    <igx-icon family="material" class="icon_10">check_box</igx-icon>
    <igx-icon family="material" class="icon_11">check_box</igx-icon>
    <igx-icon family="material" class="icon_12">check_box_outline_blank</igx-icon>
    <div class="group_5">
      <p class="igx-typography__body-1 text_5">Enter Chat Description Here...</p>
    </div>
    <igx-icon family="material" class="icon_13">check_box_outline_blank</igx-icon>
  </div>
  <div class="group_6">
    <button igxButton="raised" igxRipple class="button_1">Start New Conversation</button>
    <h6 class="h6_12">Chat Messages</h6>
    <p class="igx-typography__body-1 text_6">Group 1</p>
    <p class="igx-typography__body-1 text_7">Group 3</p>
    <p class="igx-typography__body-1 text_8">Person 2</p>
    <p class="igx-typography__body-1 text_9">Professor 1</p>
    <p class="igx-typography__body-1 text_10">Chats Admin</p>
    <p class="igx-typography__body-1 text_11">Professor 2</p>
    <p class="igx-typography__body-1 text_12">Person 1</p>
    <p class="igx-typography__body-1 text_13">Group 2</p>
    <div class="group_7">
      <button igxButton="raised" igxRipple class="button_2">Enter NETID, email, or name</button>
      <igx-icon family="material" class="icon_14">person</igx-icon>
      <igx-icon family="material" class="icon_15">person</igx-icon>
      <igx-icon family="material" class="icon_16">person</igx-icon>
      <igx-icon family="material" class="icon_17">person</igx-icon>
      <igx-icon family="material" class="icon_18">person</igx-icon>
      <igx-icon family="material" class="icon_19">person</igx-icon>
      <h6 class="h6_18">Mark Mishler</h6>
      <h6 class="h6_13">Jon</h6>
      <h6 class="h6_14">Daniel</h6>
      <h6 class="h6_15">Hajira</h6>
      <h6 class="h6_16">Maribel</h6>
      <h6 class="h6_17">Andrew</h6>
      <h5 class="h5_4">Suggested Members</h5>
      <button igxButton="outlined" igxRipple class="button_3">Add Member</button>
      <button igxButton="outlined" igxRipple class="button_4">FIlter Member</button>
    </div>
  </div>
  <img src="/assets/HelpBar2.png" class="image" />
</div>
