<div class="group row">
  <div class="group_1"></div>
  <div class="group_2">
    <h2 class="h2">Chats Settings</h2>
    <igx-icon family="material" class="icon_4">arrow_back</igx-icon>
    <igx-icon family="material" class="icon_5">help</igx-icon>
    <igx-icon family="material" class="icon">settings</igx-icon>
  </div>
  <div class="group_3">
    <h3 class="h3">Privacy Settings</h3>
    <h3 class="h3_1">Security Settings</h3>
    <h4 class="h4">Customize User Experiences</h4>
    <igx-avatar icon="people" [roundShape]="true" size="large" class="avatar"></igx-avatar>
    <button igxButton="raised" igxRipple class="button">Change Profile Image</button>
    <h5 class="h5">Display Name</h5>
    <h5 class="h5_1">Enable Authentification</h5>
    <h6 class="h6">Mutual Class Chats</h6>
    <h6 class="h6_1">XYZ123</h6>
    <h5 class="h5_2">Allow Links</h5>
    <p class="igx-typography__subtitle-1 text">What is this feature?
This is a new option provided by Canvas that allows for two-factor
authentification via Duo-Push.</p>
    <p class="igx-typography__subtitle-1 text_1">Only allow those in mutual classes to be able to add 
you in to group chats.</p>
    <h5 class="h5_3">NETID</h5>
    <p class="igx-typography__subtitle-1 text_2">Gives all Chats members the ability to send links
unassociated with Canvas to you.</p>
    <h6 class="h6_2">Daniel Banh</h6>
    <igx-icon family="material" class="icon_1">check_box</igx-icon>
    <igx-icon family="material" class="icon_2">check_box_outline_blank</igx-icon>
    <igx-icon family="material" class="icon_3">check_box</igx-icon>
  </div>
  <img src="/assets/HelpBar2.png" class="image" />
</div>
